@charset "UTF-8";
/* CSS Dpocument */

body.gridwrapper {
	display: grid;
	grid-template-columns: repeat (3, 1fr); 
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	
	section#why-virt {
		grid-column 1/3;
		grid-row: 1;
	}
	section#what-virt {
                grid-column 2/3;
                grid-row: 1;
	}
	section#what-vm {
                grid-column 3/3;
                grid-row: 1;
	}	

} 
